@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'YearOFTheCamel';
  src: url('./fonts/alfont_com_alfont_com_TheYearofTheCamel-Medium.otf') format('otf');
  font-weight: medium;
  font-style: medium;
}
@font-face {
  font-family: 'YearOFTheCamel';
  src: url('./fonts/TheYearofTheCamel-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
 
*{
  margin: 0;
  padding: 0;

  
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'TheYearofTheCamel', Arial, Helvetica, sans-serif;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.4s ease-in-out;
}
/* Global CSS for scrollbars */
.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #31295D; /* Track color */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: '#972E7C'; /* Thumb color */
  border-radius: 9999px; /* Rounded scrollbar */
  border: 2px solid transparent; /* Space around scrollbar */
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #6756C3 #31295D; /* For Firefox */
}
